*{
	box-sizing:  border-box;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
#header-nav {
  background-color: #b2b319;
  border-radius: 0;
  border: 1px solid black;
}
#nav-list {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #fff;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border-bottom: 1px solid black;
  height: 30px;
}
.navbar-default .navbar-brand {
	padding-left: 35px;
 	color: #61122f;
}
 h1{ 
  color: #557c3e;
  font-weight: bold;
  line-height: .55;
  margin-bottom: 20px;
}
.container{
	width: 100%;
	margin: 0;
	padding: 0;

}
.row {
  width: 100%;
  margin: 0;
	padding: 0;

}
#section{
	 background-color: #b2b319;
	 height: 1000px;
	 padding: 5px;
	 width: 95%;
	 margin-top: 20px;
}
p{
	padding: 10px;
}
/********** Medium devices only **********/
@media (min-width: 992px) {
	
	}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-xs-12
}
/********** extra small devices only **********/
@media (max-width: 767px) {
	
	#section{
		width: 80%;
	}
}